<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SportWebApp</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- Bootstrap and site styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/simplex/bootstrap.css" integrity="sha512-K4asrs5d+Rb8ZeIrkmSAWiKKCYWnWfImckLemJ0DvsfukgXkte8l3taowHpvvaWud7jyoQYP9Odh2gHcsvRGGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/style.css" />

	<!-- Style for full calendar -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css" integrity="sha256-jLWPhwkAHq1rpueZOKALBno3eKP3m4IMB131kGhAlRQ=" crossorigin="anonymous">
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
		</symbol>
	</svg>
</head>
<body>
	<header>
		@if (User.Identity.IsAuthenticated)
		{
			<nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 4; background-color: black;">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">YourWay</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" asp-action="Index" asp-controller="Home">Home<span class="visually-hidden">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Training">Training</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Exercise">Exercise</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="MyCalendar" asp-controller="Calendar">Calendar</a>
							</li>
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="ProfileInfo">Profile</a>
							</li>
						</ul>
						<form class="nav-item" asp-action="Logout" asp-controller="Account">
							<ul class="navbar-nav">
								<li class="nav-item">
									<button type="submit" class="btn btn-primary">Log out</button>
								</li>
							</ul>
						</form>

					</div>
				</div>
			</nav>
		}
		else
		{
			<nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 4; background-color: black;">
				<div class="container-fluid">
					<a class="navbar-brand" asp-action="Index" asp-controller="Home">YourWay</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" asp-action="Index" asp-controller="Home">Home<span class="visually-hidden">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Training">Training</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Exercise">Exercise</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="MyCalendar" asp-controller="Calendar">Calendar</a>
							</li>
						</ul>
						<form class="d-flex">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" asp-action="Register" asp-controller="Account">Sign up</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-action="Login" asp-controller="Account">Sign in</a>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</nav>
		}
	</header>
		@RenderBody()	
	<section class="footer-section"> 
		<footer class="border-top footer text-muted">
			<div class="container">
				<div class="row">
					<div class="col-md-4 colum_block">
						<h3>YourWay</h3>
						<p>A site that will help make yourself healthier.<br> Use it and recommend it to your friends.</p>
					</div>
					<div class="col-md-4 colum_block">

					</div>
					<div class="col-md-4 colum_block">
						<h3>Developer:</h3>
						<a href="https://twitter.com/VVPtrv?t=L911buGWKVQv70jDKUWGAg&s=09" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/vladislav-petrov-635382241/" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Linkedin-icon.png" alt="">
                        </a>
                        <a href="https://www.facebook.com/vlad.petrov.9847867" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/512/social-facebook-box-blue-icon.png" alt="">
                        </a>
                        <a href="https://github.com/Vladislav83530" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/bokehlicia/captiva/256/web-github-icon.png" alt="">
                        </a>
						<p class="mt-2">&copy; 2022 - SportWebApp - Vladislav Petrov</p>
					</div>
				</div>
			</div>
		</footer>
	</section>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

	<!--Script for full calendar-->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js" integrity="sha256-bFpArdcNM5XcSM+mBAUSDAt4YmEIeSAdUASB2rrSli4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
