.btn_exercise_text {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.btn_exercise_img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn_filter {
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
}


.img_exrcise{
    width: 180px;
    height: 115px;
}

.exercise_p{
    font-size: 22px;
    font-style: italic;
}
