.btn_training{
    width: 100%;
}

.btn_create {
    width: 75%;
    margin-bottom: 10px;
}

.exercise_right{
    border-right: 1px solid #808080;
}

.exercise_block {
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
}

.btn_del_exercise{
    width:100%;
}
